<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Wasafi</title>
  <link rel="icon" href="img/broom.png"/>

  <!-- CSS  -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  -->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    
    <div class="nav-wrapper container">
    <div class="right hide-on-med-and-down">
      
      <label class="btn-large waves-effect waves-light teal lighten-1" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Get started</label>

    </div>
       
    <div class="img-with-text">
      <img src="img/maid.png" width="40px" height="40px"/>
      <label id="logo-container" class="brand-logo">Wasafi</label>
    </div>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Get Started</a></li>
      <li><a href="#">Post A Job</a></li>
      <li><a href="#">Post your profile</a></li>
      </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>


  </nav>


  <div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate">
    <div class="container-contact">

 
<h5 class="header center teal-text text-lighten-2">
Create a New Listing to Join Our Housekeeper Community!</h5>

<span>Find or become a housekeeper.</span>


<br />
<span>Have an account? <a href="board.html">Welcome Back!</a> </span>



         
  
           <div class="clearfix">
       <a href="job.html"> <button type="button"class="cancelbtn">Post A Job</button></a>
         <a href="profile.html"><button type="button" class="signupbtn">Post your profile</button></a>
      </div>
    </form>

      </div>
    </div>




  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Hire Housekeepers in Your Neighborhood</h1>
        <div class="row center">
          <h5 class="header col s12 light">Someone out there loves washing dishes as much as you hate watching them pile up. Hire a one-time or recurring cleaning service today.</h5>
        </div>
        <div class="row center">
          <a class="color" href="job.html">Find a housekeeper</a> 
        </div>
        <br><br>
      </div>
      </div>
    <div class="parallax"><img src="img/clean.jpg" alt="Unsplashed background img 1"></div>
  </div>

   


  <div class="container-wrapper">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <h1 class="header center teal-text text-lighten-2">How it works</h1>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="img/location.svg"></h2>
            <h5 class="center">step 1</h5>

            <p class="light">Post a Job opening and Locate a Provider Using Our Directory Filter your results based on experience or services offered</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="img/helper.svg"></h2>
            <h5 class="center">Step 2</h5>

            <p class="light">Connect With Your Matches Reach out to potential hires through our platform by instant messaging or by phone call.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="img/care.svg"></h2>
            <h5 class="center">Step 3</h5>

            <p class="light">Shortlist Your Favorites and HireNarrow down your results and hire the one that stands out. Easy.</p>
          </div>
        </div>
      </div>

    </div>

<div class="space-200"></div>
  <div class="row center">
          <a href="job.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Find a housekeeper</a> 
        </div>

      </div>
  <div class="space-200"></div>
   <div class="slide">
   
    <img src="img/background.svg" width="20%" />
        <img src="img/background.svg" width="20%" />
            <img src="img/background.svg" width="20%" />
        <img src="img/background.svg" width="20%" />
            <img src="img/background.svg" width="20%" />
      
     
    </div>



  

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who we are</h5>
          <p class="grey-text text-lighten-4">Wasafi was started to remove the hassle of finding, booking and paying a cleaner. we are starting a movement to make cleaning services available to a broader audience. By creating an easy way to match homeowners with trusted, professional service providers at affordable rates.</p>
     


        </div>
        <div class="col l3 s12">
        
          <ul>
   
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Every Helper is</h5>
          <ul  class="footer-text">
            <li><i class="material-icons">check_circle</i> EXPERIENCED & PROFESSIONAL</li>
            <li><i class="material-icons">check_circle</i> REFERENCE CHECKED</li>
            <li><i class="material-icons">check_circle</i> NTERVIEWED IN-PERSON</li>
            <li><i class="material-icons">check_circle</i> HONEST AND DEPENDABLE</li>
            <li><i class="material-icons">check_circle</i> ALWAYS IMPROVING</li>
            <li><i class="material-icons">check_circle</i> INSURED & BONDED</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class ="container">

            <div class="row">
        <div class="col l6 s12">
         
    <p>COPYRIGHT © Wasafi 2017</p>
        </div>
        <div class="col l3 s12">
        
          <ul>
   
          </ul>
        </div>
        <div class="col l3 s12">
         <p>Designed for BIS Project</p>
        </div>
      </div>




        </div>
    </div>
  </footer>




  <!--  Scripts-->
<!--  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>


   
       <script>




  </script>

  </body>
</html>
